<ul><strong><%= @song.name %></strong></ul>
<li>artist:  <strong><%= @song.artist.name %></strong></li>
<li>duration in seconds:  <strong><%= @song.duration %></strong></li>
<li>album:   <strong><%= @song.album %></strong></li>
